.d1
{
	border: 3px solid black;
	height: 90vh;
	position: relative;
	float: left;
}
#h
{
	background-color: gray;
	padding-top: 10px;
}
#pun1
{
	margin-top: 10px;
	font-size: 15pt;
	text-align: center;
}

.navbar-brand{
  font-size: 35px;
  color: white;
  padding-left: 25px;
}

.navbar-brand:hover{
	color: white;
}

.navbar-toggle{
	border: 2px solid white;
	margin-right: 25px;
}

b
{
	padding-left: 15px;
}
#pun1
{
	background-color: gray;
	height: 10px;
}
#b
{
	text-align: center;
}
#hr
{
	border: 2px solid black;
}
#h4
{
	text-align: center;
}
#p
{
	font-color: gray;
	font-size: 15pt;
	height: 200px;
	padding-bottom: 10px;
	padding-top: 10px;
}
#para
{
	background-color: gray;
}
#nav-list 
{
  margin-top: 10px;
  text-align: center;
  width: 100%;
}
#nav-list a 
{
  color: #951C49;
  text-align: center;
}
#nav-list a:hover 
{
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}
#text
{
	text-align: center;
}
.p1
{
	padding-top: 2px;
	padding: 10px;
	font-size: 18px;
	background-color: gray;
}
#h1
{
	text-align: center;
}
#s1
{
	border: 2px solid black;
}